<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.PSD" version="22.10.0" targetFramework="net472" />
  <package id="BouncyCastle" version="1.8.9" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13.3" targetFramework="net472" />
  <package id="iTextSharp.LGPLv2.Core" version="1.9.2" targetFramework="net472" />
  <package id="Magick.NET.Core" version="12.2.0" targetFramework="net472" />
  <package id="Magick.NET-Q16-HDRI-x86" version="12.2.0" targetFramework="net472" />
  <package id="PDFium.forms.x64.v8-xfa" version="4522.0.6" targetFramework="net472" />
  <package id="PDFium.Windows" version="1.0.0" targetFramework="net472" />
  <package id="PDFium.x64" version="4648.0.0" targetFramework="net472" />
  <package id="PDFium.x64.v8-xfa" version="4194.0.0" targetFramework="net472" />
  <package id="Pdfium_x86Dll" version="1.1.0" targetFramework="net472" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net472" />
  <package id="PdfiumViewer.Core" version="1.0.4" targetFramework="net472" />
  <package id="PdfiumViewer.Native.x86_64.no_v8-no_xfa" version="2018.4.8.256" targetFramework="net472" />
  <package id="PdfiumViewer.Native.x86_64.v8-xfa" version="2018.4.8.256" targetFramework="net472" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net472" />
  <package id="Spire.PDF" version="8.9.16" targetFramework="net472" />
</packages>